<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%PYTHON_INSTALL_DIR%\python.exe" arguments="%AZURE_SITE_HOME%\home\site\wwwroot\app.py" stdoutLogEnabled="false" stderrLogEnabled="false" startupTimeLimit="60" processesPerApplication="16" />
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>
