<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python37\python.exe|D:\home\Python37\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="." />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log" />
  </appSettings>
</configuration>
